.fav_home {
    background: white;
    border-radius: 10px;
    padding: 15px;
}

.fav_home .fav_icon {
    height: 50px;
    margin-right: 8px;
    width: 50px;
    font-size: 16px;
    flex-shrink: 0;
}
.fav_home .fav_details {
    font-size: 13px;
    color: #1d1e1f;
    line-height: 16px;
    height: 50px;
    width: 100%;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
}