.header {
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    padding: 5px 20px 5px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #BFBFBF;
    align-items: center;
    background: white;
    z-index: 99;
}

.socialIcon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}