.card {
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.16);
    cursor: pointer;
}

.title {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hoverImg:hover {
    transition: .3s ease-in-out;
}