html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'Archivo';
}

h2 {
  font-size: 1.4rem;
  font-weight: 800;
  font-family: 'Archivo';
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Archivo';
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Archivo';
}

h5 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Archivo';
}

h6 {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Archivo';
}
#checkdv_1 {
  display: none;
}
